{% extends base %}

{% block metadesc %}{{ tag.meta_description }}{% endblock %}
{% block title %}ideas4kids - browse {{tag.display}}{% endblock %}
{% block bodyprop %}style="background-color: #ffffff"{% endblock %}

{% block body %}

<div class="groupbuttons">
{% for tag, subtags2 in groups %}
{% ifequal tag subtag_obj %}
{% if tag.icon_selected %}<img alt="{{ tag.display|capfirst }}" src="/media/{{ tag.icon_selected }}" width="{{ tag.icon_selected.width }}" height="{{ tag.icon_selected.height }}">{% else %}{{ tag.display|capfirst }}{% endif %}
{% else %}
<a href="{{ tag.get_absolute_url }}">{% if tag.icon %}<img alt="{{ tag.display|capfirst }}" src="/media/{{ tag.icon }}" width="{{ tag.icon.width }}" height="{{ tag.icon.height }}">{% else %}{{ tag.display|capfirst }}{% endif %}</a>
{% endifequal %}
{% endfor %}
</div>

{% endblock body %}
