{% extends base %}
{% block metadesc %}Site information{% endblock %}
{% block title %}ideas4kids - Site information{% endblock %}
{% block body %}

 <div class="info infocell_l">
  <img src="/static/info/RichardAndLouise.jpg" alt="Richard and Louise" align="left">
  <div class="title">
  <br>
  <br>
  <br>
   This site was created by<br>Richard and Louise Boulton
  </div>
 </div><div class="info infocell_r">
  <div class="title">Be the first to know when we add a new activity</div>
  Follow <a href="http://twitter.com/ideas4kids">@ideas4kids</a> on Twitter.<br>

  <form action="http://groups.google.com/group/ideas4kids_alerts/boxsubscribe">
   Subscribe to ideas4kids_alerts on
   <img src="http://groups.google.com/groups/img/3nb/groups_bar.gif"
        height="26" width="132" alt="Google Groups" style="margin: 10px 0 0 0">
   <br>

   <input type="hidden" name="hl" value="en">
   <label>Email</label>:&nbsp;<input type="text" name="email"><input type="submit" name="sub" value="Subscribe">
  </form>
 </div><div class="info infocell_rb">
  <div class="title">Find out our thoughts and plans for the site</div>
  <br>
  <a href="http://ideas4kids.wordpress.com">Follow our blog</a>.
 </div>

<div class="info infobox">
<div class="title">Recommended ages - a note for parents and guardians</div>

<img src="/static/info/mumdaughter.png" alt="Parent and Child" align="right">

<p>The ages we suggest are merely guidelines. Every child has a different level
of experience and develops at a different rate. Our suggested minimum age
assumes that the child has had previous experience of similar craft work. If
approaching a craft technique for the first time, most children will need
guidance from an adult or older child.</p>

<p>With crafts, we would expect children of the age recommended 'with adult
help' to need some steps of the project to be completed by an adult (for
example making the templates or pre-cutting some sections) or to need step by
step instructions from an adult. For games, we would expect children of the age
recommended 'with adult help' to be able to play the game, but need adult help
when learning the rules.</p>

<p>We recommend that all children of primary school age and below have some
level of adult supervision, as appropriate for their age, abilities and the
project they are undertaking. The adult responsible for the child should check
that craft supplies are suitable for the age of the child and that any
necessary safety precautions are taken.</p>

</div>

<div class="info infobox">
<div class="title">Copyright information</div>

<p>Ideas are not subject to copyright. You are actively encouraged to adapt and
use any ideas on this site as inspiration for your creative projects.</p>

<p>Creative works (writing, images etc) are automatically subject to copyright
whether or not they explicitly carry a copyright statement. Details of how you
may use creative works from this site appear below.</p>

<table>
  <tr>
    <td>
      <h4>PDFs</h4>

      <p><img alt="pdfs" src="/static/info/pdfs.jpg" align=right>Louise Boulton
      holds the copyright for PDFs on ideas4kids.org. Most pdfs on this site
      are released under the Creative Commons Attribution Non-Commerical
      Licence. Provided you give 'Louise Boulton, ideas4kids.org' credit and
      are not using them for commercial purposes; you are free to copy,
      distribute, and display the pdfs. You also have permission to make
      derivative works.</p>

      <p><img alt="Creative Commons License"
      src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png"> View the full
      licence on the <a rel="license"
      href="http://creativecommons.org/licenses/by-nc/3.0/"
      >Creative Commons Website</a>.

      <p>A small number of PDFs use photographs licenced under an alternative
      licence which forces any derivative works to be released under the same
      or similar license. The licence these PDFs are released under can be
      found in the footer of the PDF. Attribution details can also be found
      within the PDF. Attribution pages must be kept intact when redistributing
      PDFs.</p>

    </td>
  </tr>	
  <tr>
    <td>
      <h4>PHOTOGRAPHS</h4>

      <p><img alt="photographs" src="/static/info/photographs.jpg"
      align="left">Unless otherwise stated the copyright for photographs
      appearing on ideas4kids.org is held by Louise Boulton. These photographs
      may be printed or stored on a personal computer for non-commercial use.
      They may not be published (in print or on a website) by anyone without
      written consent from the copyright owner.</p>

      <p>A small number of pdfs contain photographs that are not copyrighted by
      Louise Boulton. Copyright and license details for these can be found
      within the pdf that contains them. Please treat the copyright owner with
      respect. Images should only be used as licensed.</p>

    </td>
  </tr>
  <tr>
    <td>
      <h4>GRAPHICS</h4>

      <p><img alt="graphics" src="/static/info/graphics.jpg" align="right">The
      copyright for all graphics appearing on this website is held by Louise
      Boulton.<p>

      <p>Graphics not labelled as downloadable clipart may not be published (in
      print or on a website) by anyone without written consent from the
      copyright owner.</p>

      <p>Graphics labelled as downloadable clipart are released under the
      Creative Commons Attribution Non-Commercial Licence. Provided you give
      'Louise Boulton, ideas4kids.org' credit and are not using them for
      commercial purposes; you are free to copy, distribute, and display these
      graphics. You also have permission to make derivative works. If using
      graphics on a non-commercial website you must remember to attribute them.
      You are not however required to write (c) Louise Boulton, ideas4kids.org
      under every graphic used or on every page. As long as you state that the
      graphics are (c) Louise Boulton and provide a link to ideas4kids.org in a
      prominent location, you need only do so on one page of your website.</p>

      <p><img alt="Creative Commons License"
      src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png">View the full
      licence on the <a rel="license"
      href="http://creativecommons.org/licenses/by-nc/3.0/"
      >Creative Commons Website</a>.

      <p>The flags appearing on the themes page are public domain images taken
      from wikipedia. For the original files search wikipedia for the country
      in question and click on the image of the flag.

    </td>
  </tr>
  <tr>
    <td>
      <h4>LAYOUT AND TEXT</h4>

      <p>Quoting small sections of text may be considered fair use. Beyond this
      however, all rights are reserved. You may not copy pages or sections from
      this website without permission from the copyright holder.</p>

      <h4>VIDEOS</h4>

      <p>Videos are uploaded to youtube and therefore fall under their licensing
      terms and conditions. No additional rights are granted.</p>

    </td>	
  </tr>
</table>

</div>

<div class="info infobox">
<div class="title">Privacy</div>

<p>
This website uses Google Analytics, a web analytics service provided by Google,
Inc. (“Google”).  Google Analytics uses “cookies”, which are text files placed
on your computer, to help the website analyze how users use the site. The
information generated by the cookie about your use of the website (including
your IP address) will be transmitted to and stored by Google on servers in the
United States. Google will use this information for the purpose of evaluating
your use of the website, compiling reports on website activity for website
operators and providing other services relating to website activity and
internet usage.  Google may also transfer this information to third parties
where required to do so by law, or where such third parties process the
information on Google's behalf. Google will not associate your IP address with
any other data held by Google.  You may refuse the use of cookies by selecting
the appropriate settings on your browser, however please note that if you do
this you may not be able to use the full functionality of this website.  By
using this website, you consent to the processing of data about you by Google
in the manner and for the purposes set out above.
</p>
</div>

{% endblock body %}
